Repository lwmacct/251124-uds-proxy: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-docs, golangci-lint

build-docs:
  name: build-docs
  entry: npm run build --prefix docs
  language: system
  pass_filenames: false
  stages:
  - pre-commit

golangci-lint:
  name: Run golangci-lint on new changes
  entry: golangci-lint run --new --fix
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat: 初始化 uds-proxy 项目结构
  cmd/uds-proxy/main.go
  go.mod
  go.sum
  internal/commands/uds-proxy/command.go
  internal/proxy/config.go
  internal/proxy/handlers.go
  internal/proxy/pool.go
  internal/proxy/server.go
  main.go
Due: golangci-lint

docs: 完善项目 README 文档
  docs/content/readme.md
Due: build-docs

Unimportant
  main.go
Due: golangci-lint

Unimportant
  docs/content/readme.md
Due: build-docs

docs: 全面更新 uds-proxy 项目文档
  docs/.vitepress/config.ts
  docs/.vitepress/config/nav.json
  docs/.vitepress/config/sidebar.examples.json
  docs/.vitepress/config/sidebar.guide.json
  docs/content/examples/custom-service.md
  docs/content/examples/docker-api.md
  docs/content/examples/markdown.md
  docs/content/examples/mermaid.md
  docs/content/examples/programming.md
  docs/content/examples/vitepress-api.md
  docs/content/guide/api.md
  docs/content/guide/architecture.md
  docs/content/guide/deployment.md
  docs/content/guide/quick-start.md
  docs/content/index.md
Due: build-docs

docs: 移除 issues 文档模块
  docs/.vitepress/config.ts
  docs/.vitepress/config/sidebar.issues.json
  docs/content/issues/git-commit.md
Due: build-docs

docs: 完善 proxy 包的 Go doc 文档和单元测试
  internal/proxy/config.go
  internal/proxy/doc.go
  internal/proxy/handlers.go
  internal/proxy/handlers_test.go
  internal/proxy/pool.go
  internal/proxy/pool_test.go
  internal/proxy/server.go
  internal/proxy/server_test.go
Due: golangci-lint

fix: 修复 server_test.go 中 unusedwrite 警告
  internal/proxy/server_test.go
Due: golangci-lint

Unimportant
  go.mod
  go.sum
Due: none

Unimportant
  .pre-commit-config.yaml
  cmd/uds-proxy/main.go
  docs/content/examples/docker-api.md
  docs/content/guide/api.md
  docs/content/guide/architecture.md
  docs/content/readme.md
  go.mod
  go.sum
  internal/command/udsproxy/action.go
  internal/command/udsproxy/command.go
  internal/commands/uds-proxy/command.go
  internal/proxy/handlers.go
  internal/proxy/handlers_test.go
  internal/proxy/server.go
  internal/version/command.go
  internal/version/version.go
Due: build-docs, golangci-lint

chore 2025-12-04 14:38:10 CST
  .taskfile/git.yml
  .taskfile/go.yml
  docs/package-lock.json
Due: build-docs

chore 2025-12-04 15:58:23 CST
  .pre-commit-config.yaml
  config/config.example.yaml
  config/default.example.yaml
  docs/content/readme.md
  go.mod
  go.sum
  internal/command/udsproxy/action.go
  internal/command/udsproxy/command.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/loading.go
  internal/proxy/config.go
  internal/proxy/doc.go
  internal/proxy/handlers.go
  internal/proxy/handlers_test.go
  internal/proxy/server.go
  internal/proxy/server_test.go
  internal/version/version.go
Due: build-docs, golangci-lint

chore 2025-12-04 16:02:27 CST
  internal/config/config_test.go
  internal/config/loading.go
Due: golangci-lint

chore 2025-12-04 16:02:37 CST
  internal/config/config_test.go
  internal/config/loading.go
Due: golangci-lint

chore 2025-12-08 09:00:41 CST
  config/config.example.yaml
  go.mod
  go.sum
  internal/command/udsproxy/action.go
  internal/command/udsproxy/command.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/loading.go
  internal/proxy/handlers.go
  internal/proxy/handlers_test.go
  internal/version/command.go
  internal/version/version.go
Due: golangci-lint

chore 2025-12-08 09:00:57 CST
  .pre-commit-config.yaml
Due: none

chore 2025-12-08 09:02:07 CST
  .env.example
  .taskfile/cmd.yml
  .taskfile/env.yml
  .taskfile/git.yml
  .taskfile/go.yml
  Taskfile.yml
Due: none

chore 2025-12-08 09:03:01 CST
  docs/.vitepress/theme/index.ts
  docs/content/examples/custom-service.md
  docs/content/examples/docker-api.md
  docs/content/examples/programming.md
  docs/content/guide/api.md
  docs/content/guide/architecture.md
  docs/content/guide/deployment.md
  docs/content/guide/quick-start.md
  docs/content/readme.md
Due: build-docs

Path conditions:
  build-docs: any of: ^docs/
  golangci-lint: any of: \.go$
